/* To change the colour of the scrollbar */
body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background:#02091d;
}

body::-webkit-scrollbar-thumb {
  background-color:#00477c;
  border-radius: 5px;
  border: 5px solid #00477c;
}

body::-webkit-scrollbar-thumb:hover {
  background:#568203;
}